
.bar:hover {
    fill: lightgreen !important;
}

.constituency-boundary {
    fill: none;
    stroke: #ffffff;
    stroke-linejoin: round;
}

.constituency:hover {
    fill: lightgreen !important;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: whitesmoke;
}

.dot:hover {
    fill: lightgreen !important;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: whitesmoke;
    color: gray;
    border-radius: 2px;
    font-size: 10px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: whitesmoke;
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: whitesmoke;
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.row {
    min-width: 95% !important;
}

.light-grey-bg-pattern {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #d8d8d8;
    color: #333333;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
}

.tabs {
    border: 1px solid #ccc;
}

.tabs-content {
    border: 1px solid #ccc;
}

.tabs-content > .content {
    padding: 0px;
}

#radioYes {
    margin-bottom: 0px;
}

#radioNo {
    margin-bottom: 0px;
}

#leftsidebar {
    margin-bottom: 0px;
}

#rightsidebar {
    margin-bottom: 0px;
}

#cities {
    height: 391px;
    margin-bottom: 0px;
}

#information {
    margin-bottom: 0px;
}

#ch0 {
    margin-bottom: 0px;
}

#ch1 {
    margin-bottom: 0px;
}

#ch2 {
    margin-bottom: 0px;
}

#ch3 {
    margin-bottom: 0px;
}

#ch4 {
    margin-bottom: 0px;
}

#ch5 {
    margin-bottom: 0px;
}

#ch6 {
    margin-bottom: 0px;
}

#ch7 {
    margin-bottom: 0px;
}

#ch8 {
    margin-bottom: 0px;
}

#ch9 {
    margin-bottom: 0px;
}

text {
    font-size: 0.5rem;
}

.buttonhide {
    cursor: pointer;
    width: auto;
    display: none;
    float: right;
}

.delete-button:hover .buttonhide {
    display: inherit;
}